

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  width: 100%;
}
header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background: #151414;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header__left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header__left .header__logo {
  width: 40px;
}
header .header__left nav {
  margin-left: 50px;
}
header .header__left nav ul {
  display: flex;
}

nav ul {
  margin-bottom: 0
}

nav ul li a {
  display: block;
  color: #cfd9e0;
  font-size: 18px;
  padding: 5px 10px;
  transition: 0.2s;
  text-align: center;
}
nav ul li a:hover,
nav ul li a.active {
  color: #fff;
}
.header__list__login {
  font-weight: bold;
  color: red !important;
  cursor: pointer
}
.header__list__SignUp {
  font-weight: bold;
  color: #515e6a !important;
  cursor: pointer
}

header .header__right {
  display: flex;
  align-items: center;
}

header .header__right__hamburger {
  margin-left: 20px;
  cursor: pointer;
  display: none;
}
header .header__right__hamburger div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: #fff;
}
@media only screen and (max-width: 1000px) {
  header .header__right__hamburger {
    display: block;
  }
  header .header__left nav {
    margin: 0;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: #151414;
    transition: 0.3s;
    text-align: center;
  }
  header .header__left nav.active {
    top: 70px;
  }
  header .header__left nav ul {
    display: block;
  }
}

@media (min-width: 1050px) {
  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}
