@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

.main_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_container__post {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.post__logo {
  width: 500px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 30px;
}
.post__content {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.post__paragraph {
  text-align: center;
  margin: 0 0 40px 0;
}
.btn {
  margin: 0 10px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #545b62;
  border-color: #545b62;
}

/*events_calendar*/
.main_container__events_calendar {
  background-color: #d9dadc;
  border-radius: 5px;
  margin: 30px 0;
}
.events_calendar__container {
  display: flex;
  padding: 15px;
}
.events_calendar__container > div {
  margin: 0 0 0 10px;
}
.events_calendar__color {
  border-radius: 10px;
  padding: 0px;
  width: 6px;
  height: 60px;
  background-color: green;
}
.events_calendar__date {
  text-transform: capitalize;
  display: flex;
}
.events_calendar__day__start {
  width: 28px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
.events_calendar__day__start .number_date {
  width: 28px;
  font-size: 25px;
  font-weight: bold;
  font-weight: bold;
}
.events_calendar__day__start .text_date {
  width: 28px;
  font-weight: bold;
  font-size: 12px;
}
.events_calendar__day__separator {
  padding: 0 0 0 5px;
  font-weight: bold;
}
.events_calendar__day__end {
  padding: 7px 0 0 5px;
  width: 28px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
.events_calendar__day__end .number_date {
  font-size: 12px;
  font-weight: bold;
}
.events_calendar__day__end .text_date {
  font-weight: bold;
  font-size: 8px;
}

.events_calendar__main_content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  overflow: auto;
  word-wrap: break-word;
}
.events_calendar__main_content__contentInit {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.events_calendar__content__icon {
  width: 20px;
  height: 20px;
}
.events_calendar__main_content > * {
  padding-bottom: 5px;
}
.events_calendar__content__title {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.events_calendar__content__paragraph {
  font-size: 14px;
}
.events_calendar__content__location {
  font-size: 12px;
}
.events_calendar__date {
  font-size: 12px;
}
.events_calendar__expanded {
  padding: 20px 0;
}
.events_calendar__expanded__tags {
  display: flex;
  flex-wrap: wrap;
}
.events_calendar__expanded__disable {
  display: none;
}
.expanded__contend {
  padding: 20px 0;
}
.expanded__tag {
  background-color: #0056b3;
  border-radius: 5px;
  padding: 4px;
  margin: 5px;
}
.expanded__contend__text_bold {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0;
  color: #2f2f2f;
}
.expanded__contend__text {
  font-size: 18px;
  padding: 10px 0;
  font-weight: 400;
}
.expanded_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.expanded_footer__btn {
  background: #ff5571;
  color: white;
  border-radius: 2px;
  height: 37px;
  max-width: 140px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  border: none;
}

.social_media__icon {
  margin: 0 0 0 20px;
  width: 30px;
  height: 30px;
}
