footer {
  background-color: #343a40;
}

ul {
  margin: 0px;
  padding: 0px;
}

.container__footer {
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 30px;
  width: 100%;
}

.logo__footer {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 10px;
  position: relative;
  background-color: #ff5571;
  border-radius: 5px;
}

.footer__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #151414;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: #ff5571;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer__content {
  position: relative;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}

.footer__text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}

.footer-copyright {
  margin: 0;
  padding: 0;
  color: #151414;
}

.footer__social_icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.footer__social_icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer__social_icon img {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.footer__widget__heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer__widget__heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5571;
}

.footer__widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}

.footer__widget ul li a:hover {
  color: #ff5571;
}

.footer__widget ul li a {
  text-decoration: none;
  color: #878787;
  text-transform: capitalize;
}

.subscribe__form {
  position: relative;
  overflow: hidden;
}

.subscribe__form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}

.subscribe__form button {
  position: absolute;
  right: 0;
  background: #ff5571;
  padding: 13px 20px;
  border: 1px solid #ff5571;
  top: 0;
}

.subscribe__form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #ff5571;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}


